*{
    font-family: 'Lato', sans-serif;
}
html,body {
    height: 100%;
}
#map-container {
    height: 90%;
    padding-top: 65px;
    padding-left: 2%;
}
#map-canvas {
    width: 96%;
    height: 100%;
    position: absolute;
}
#right-container {
    height: 90%;
    padding-top: 62px;
    padding-right: 2%;
}
#right-cell {
    height: 100%;
    width: 96%;
    position: absolute;
}
.row.right-row {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
}
.table-responsive {
    overflow-x: auto;
}
.table-responsive .table {
    font-size: 0.875em;

}

#placeholder .tickLabel{
    font-size: 80%;
}

#seshidtag_chosen #selyear_chosen #selmonth_chosen #selprofile_chosen #selyearmonth_chosen {
    font-size: 15px;
}

.chosen-container-single .chosen-single {
    height: 28px;
}

.chosen-container-single .chosen-single span {
    margin-right: 0px;
}

li.search-field {
    height: 35px !important;
}

li.search-choice {
    margin: 7px 0 3px 5px !important;
}

ul.chosen-choices li input {
    height: 100% !important;
    font-size: 15px;
    padding-bottom: 10px !rimportant;
}

@media (min-width: 768px){
.navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
}
}
@media (max-width: 767px) {
#map-container {
    height: 42%;
}
}

canvas *{
width:100%;
}
#chart-area {
width: 100%;
margin: 0px;
padding-bottom: 15px;
background-color: #428bca;
/*padding-top: -10px;*/
}
.clickable{
  cursor: pointer;
}
.btn-sm {
    padding: 3px 8px;
}
.ui-slider {
	position: relative;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.1em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}
.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
.ui-widget-header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html 
.ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
}
